<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>509736475453-dingr4gr65tb0r1bngg17c6fkmcos4hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509736475453-dingr4gr65tb0r1bngg17c6fkmcos4hd</string>
	<key>API_KEY</key>
	<string>AIzaSyAjEkzMp1eDDxWSo1Pkcr2K_CRcB32Wqs4</string>
	<key>GCM_SENDER_ID</key>
	<string>509736475453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.fsektionen.fapp</string>
	<key>PROJECT_ID</key>
	<string>f-sek-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>f-sek-stage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509736475453:ios:7d453d1da2f5e946</string>
	<key>DATABASE_URL</key>
	<string>https://f-sek-stage.firebaseio.com</string>
</dict>
</plist>