@import 'partials/variables';
@import 'partials/login';
@import 'partials/signup';
@import 'partials/reset_password';
@import 'partials/login_help_confirmation';
@import 'partials/error';
@import 'partials/calendar';
@import 'partials/notifications';
@import 'partials/messages';
@import 'partials/groups';
@import 'partials/event';
@import 'partials/home';
@import 'partials/settings';
@import 'partials/user_page';
@import 'partials/songbook';

a:active {
  color: $link-active;
}

.hidden{
  display: none !important;
}

.navbar{
  background-color: $fsek-orange !important;
  color: $white;
}

.tabbar .badge {
  background: #ffe0b3;
  color: $fsek-orange;
  border: 1px solid $fsek-orange;
  position: absolute;
  top: 0;
  margin-left: 17px;
  display: none;
}

.tabbar a.active, .tabbar a.active i{
  color: $white !important;
}

.tabbar .active .badge {
  background: $white;
}

.tabbar i{
  font-size: 24px;
  color: #f9d5be !important;
}

.tabbar i.fa-comments{
  font-size: 30px;
}

.tabbar i.fa-home{
  padding-top: 1px;
  font-size: 32px;
}

.tabbar i.fa-bars{
  font-size: 27px;
}

.taphold {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.views {
  overflow: hidden;
}

a.external {
  word-break: break-all;
  overflow-wrap: break-word;
}

img.img-responsive {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 95%;
}

@media screen and (min-width: 767px) {
  img.img-responsive {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  img.img-responsive {
    width: 35%;
  }
}
