@import 'partials/variables';

.messages-auto-layout .message-label.message-updated {
  display: inline;
  margin-bottom: 10px;
}

.ios .navbar {
  background: $fsek-orange;
  color: $white;
}

.ios .message-sent .message-bubble{
  background-color: #60b0d8;
}

.day-content {
  margin-bottom: 44px;
}

#calendar {
  margin-top: 44px;
}

.calendar, .calendar .calendar-week-header {
  background-color: $white;
}

.calendar-page .calendar-day-today span {
  background: none !important;
}

.calendar-page .calendar-custom-toolbar {
  background-color: $fsek-orange;
}

#event-signup-groupcustom, .event-signup-container .input-showing{
  margin-top: 8px;
}

.navbar:after {
  display: none !important;
}


.ios .navbar i.icon, .ios .navbar a{
  color: $white;
}

.ios ul.no-groups {
  background: none;
}

.tabbar{
  background: $fsek-orange !important;
  color: #ffe0b3;
}

.tabbar .badge {
  line-height: 16px !important;
  padding: 0 !important;
  font-size: 11px;
}

.home-subnavbar {
  margin-top: -12px !important;
}

.subtab-container {
  margin-top: 77px;
  height: -webkit-calc(100vh - 120px);
  height: calc(100vh - 120px);
}

.song-content .block {
  color: #000;
}

.song-content .block-title {
  text-transform: initial;
  margin-top: 15px;
}

#songbook-list{
  margin-top: 0px;
}

.songbook-indexlist {
  bottom: 0 !important;
  margin-top: 45px;
}

#view-home .subtab {
  top: -50px;
  height: 110%;
}

#view-home .subtab .ptr-preloader {
  top: 55px;
}

#view-home .subtab-list {
  margin-top: 60px;
}

.notification-list li:last-child {
  margin-bottom: 53px;
}

.ios-hide{
  display: none !important;
}

.user-content {
  /*background: linear-gradient(to bottom,$fsek-orange 60%, #efeff4 61%);*/
  background-image: url("../img/RoosterxHen.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#user-form {
  background-color: #efeff4;
}

.user-foodpref-info {
  font-size: 14px;
}

.user-list-title {
  color: #8f8f94;
  padding: 20px 15px 10px 15px;
}

.settings-content {
  padding-bottom: 65px;
}

/* NOLLNING */
.nollning-toolbar.toolbar {
  background: $nollning-red !important;

  &:before {
    display: none;
  }
}

.nollning-content {
  overflow: hidden;
}

.adventure-mission .item-title {
  font-weight: normal !important;
}

.adventures-highscore-list .item-title {
  font-weight: normal !important;
}

.adventures-subnavbar:after {
  content: none !important;
}

#chantbook-list {
  margin-top: 0;
}

a.message-send-button {
  color: black !important;
  margin-left: 5px;
  padding-bottom: 1px;
}

a.message-send-button:active {
  opacity: .3;
  transition-duration: 0s;
  -webkit-transition-duration: 0s;
}

.photo-browser-page .navbar, .photo-browser-page .toolbar {
  background-color: rgba(30, 30, 30, 0.8) !important;
}

.adventures-current-list {
  margin-top: 0 !important;
}

.swipeout-content .item-media {
  margin-right: 16px;
}
