@import 'partials/variables';

.messages-auto-layout .message-label.message-updated {
  display: inline;
  margin-bottom: 10px;
}

.message-sent .message-text{
  background-color: #60b0d8;
}

.day-content {
  margin-bottom: 44px;
}

.calendar-page .content-block{
  margin-top: -1px;
}
  
.navbar:after {
  background:  $fsek-orange;
}

.navbar i.icon, .navbar a{
  color: $white;
}

.tabbar{
  background: $fsek-orange;
  color: #ffe0b3;
}

.tabbar .badge {
  margin-top: 3px;
  height: 22px;
}

.subtabs {
  margin: 0;
  padding: 0px 10px 10px 10px;
  background: $fsek-orange;
}

#subtab2 .day-title{
  margin-top: 10px;
}

.subtabs .tab-link{
  border-color: $white !important;
  color: $white !important;
}

.subtabs .tab-link.active{
  color: $fsek-orange !important;
  background-color: $white !important;
}

.subtab-container {
  height: -webkit-calc(100vh - 125px);
  height: calc(100vh - 125px);
}

.notification-list li:last-child {
  margin-bottom: 53px;
}

.picker-calendar {
  color: $fsek-orange;
}

.picker-calendar .picker-calendar-day-today span{
  background: none;
}

.ios-hide{
  display: none !important;
}

.user-content {
  background: linear-gradient(to bottom,$fsek-orange 60%, #efeff4 61%);
}

#user-form {
  background-color: #efeff4;
}

.user-foodpref-info{
  font-size: 14px;
}

.user-list-title {
  color: #8f8f94;
  padding: 15px 15px 0;
}

.settings-content {
  padding-bottom: 65px;
}
