@import 'partials/variables';

.toolbar.messagebar {
  background-color: $white !important;
  position: fixed;
}

.toolbar{
  background-color: $fsek-orange !important;
}

.tabbar .badge {
  height: 18px;
  margin-top: 4px;
  padding-top: 3px;
  padding-left: 7px;
}

.messages .message-sent .message-text {
  background-color: #cfd8dc;
}

.messages .message-sent .message-text:before {
  border-bottom-color: #cfd8dc;
}

.android-hide {
  display: none !important;
}

.content-block-title{
	line-height: 1;
}

.subtabs {
  margin: 10px 0 2px 0;
  padding: 0 8px;
}

.subtab-container {
  height: -webkit-calc(100vh - 104px);
  height: calc(100vh - 104px);
}

.subtabs .buttons-row {
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.subtabs .buttons-row .button {
  margin-left: 0;
}

.subtabs .button.active:not(.button-fill) {
  background-color: $fsek-orange;
  color: $white;
}

#subtab1 .news-card {
  margin-top: 15px;
}

#subtab2 .day-title {
  margin-top: 10px;
}

.input-field:after, .item-input-field:after {
  background-color: rgba(255,255,255,0) !important;
}

.user-content .input-field:after, .user-content .item-input-field:after {
  background-color: rgba(0,0,0,.12) !important;
}

.modal .input-field:after {
  background-color: black !important;
}

.modal .input-field.focus-state:after,
.modal .input-field.not-empty-state:after {
    background-color: $fsek-orange !important;
}

.picker-calendar .calendar-custom-toolbar .toolbar-inner {
  padding-top: 10px;
}

.picker-calendar .picker-calendar-week-days {
  color: $fsek-orange;
}

.picker-calendar {
  color: #000;
}

.picker-calendar .picker-calendar-day-has-events span:after {
  background-color: #ccc !important;
}

.pages {
  background: #efeff4;
}

.message-name {
  z-index: 100;
}

.user-avatar {
  border: none;
}

.navbar{
  box-shadow: none !important;
}

.list-block .focus-state.item-inner .label {
  color: $fsek-orange;
}

.user-content {
  background-color: #f3f3f3;
}

.user-content ul:before{
  display: none;
}

#user-form {
  background-color: $white;
}

.user-food-pref .item-after{
  float: right;
}

.user-foodpref-info{
  font-size: 13px;
}

.user-switch .label-switch {
  margin-top: 3px;
}

.user-switch {
  padding-right: 16px;
}

.user-switch .item-inner, .user-food-pref .item-inner{
  display: flex !important;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 7px !important;
  padding-right: 5px;
}

.user-list-title {
  padding: 30px 15px 15px;
  background-color: #f3f3f3;
  color: #4a4a4e;
  border-top: 1px solid #f0f0f0;
}

#user-member-at {
  background-color: #f3f3f3;
}

.songbook-nav{
  box-shadow: 0px 0px 0px !important;
}

.song-content{
  background-color: #f6f6f6;
}

.song-content .song-text{
  background-color: $white ;
}

.searchbar-songbook{
  background-color: $white !important;
  box-shadow: 0px 0px 0px !important;
  border-bottom: 1px solid #dedede;
}

.searchbar-songbook .searchbar-input-text{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23959595'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M15.5%2014h-.79l-.28-.27C15.41%2012.59%2016%2011.11%2016%209.5%2016%205.91%2013.09%203%209.5%203S3%205.91%203%209.5%205.91%2016%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E") !important;
  border-bottom-color:  #959595 !important;
  color: #959595 !important;
}

.searchbar-songbook input[type=search]::placeholder{
  color: #959595;
  opacity: 1;
}

.searchbar-songbook .searchbar-clear{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23b2b2b2'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E") !important;
}

.settings-content {
  padding-bottom: 25px;
}
