.album-images {
  margin-left: 15px;
}

.album-image {
  position: relative;
  height: calc(25vw - 11.5px);
  width: calc(25vw - 11.5px);
  float: left;
  margin: 0px 4px 4px 0px;
}

.image-full-background {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.album-content .block-title {
  font-weight: bold;
  font-size: 27px;
  color: $fsek-orange !important;
  white-space: initial;
  line-height: initial;
  margin: 32px 0px 15px 15px;
}

.album-content .block span {
  color: $fsek-orange;
}

.album-content .preloader {
  margin-left: calc(50% - 20px);
  margin-top: 35px;
  height: 40px;
  width: 40px;
}

.album-content .block {
  margin-bottom: 15px;
  padding-left: 15px
}
