#contact-description {
  margin-top: 0px;
  margin-bottom: 0px;
}

#contact-description .list {
  margin: 0;
  font-size: 14px;
}

#contact-description p {
  margin-bottom: 0;
}

#contact-email {
  margin-top: 12px;
  margin-bottom: 0;
}

#contact-email span {
  color: $fsek-orange;
}

.contact-text textarea {
  height: 100%;
}

.contact-text {
  height: 200px;
}

.contact-content .block-title {
  color: $fsek-orange;
  font-size: 17px;
}

.contact-content .contact-button {
  background-color: $fsek-orange !important;
  margin-top: 20px;
}

.contact-content .list-block {
  margin-top: 15px;
}
