.signup-content .item-content.error:after, .reset-password-content .item-content.error:after {
  background-image:  none, linear-gradient(to right, rgba(255,0,0,0) 0%, rgba(255,0,0,1) 50%, rgba(255,0,0,0) 100%);
}

.error i {
  color: #e74c3c;
}

ul li.item-content.error-message {
  color: red;  
  font-size: 14px;
}

.signup-content .item-content.error-message {
  margin-top: -15px;
  margin-bottom: 5px;
  min-height: 20px;
  height: 20px; 
}

.reset-password-content li.item-content.error {
  margin-bottom: 0;
}
