.gallery-container {
  margin-left: 15px;
}

.album {
  position: relative;
  height: calc(50vw - 19px);
  width: calc(50vw - 19px);
  float: left;
  margin: 2px;
}

.album-full-background {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.6);
  background-color: white;
}

.album-text {
  position: relative;
  color: white;
  text-align: center;
}

.album-title {
  font-weight: bold;
}

.album-text i{
  color: $fsek-orange;
}

.album-text div{
  display: block;
}

.gallery-container .preloader {
  margin-left: calc(50% - 20px);
  margin-top: 35px;
  height: 40px;
  width: 40px;
}

.navbar {
  background-color: $fsek-orange;
}

.theme-dark .navbar {
  background-color: $fsek-orange;
}
