.news-card .name {
  font-style: italic;
}

.news-card .card-header {
  color: $fsek-orange;
  font-weight: bold;
}

.news-card .card-footer:before {
  content: none;
}

.news-card {
  word-break: break-word;
}

.news-card.card {
  margin-bottom: 16px;
}

.subtab-container .subtab {
  padding-top: 0 !important;
}

.home-subnavbar{
  background-color: $fsek-orange !important;
}

.home-subnavbar .button {
  border: 1px solid $white !important;
  color: $white !important;
}

.home-subnavbar .button.tab-link-active {
  background-color: $white !important;
  color: $fsek-orange !important;
}

.subtab .infinite-scroll-preloader {
  height: 37px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

.subtab .day-title:not(:first-child) {
  margin-top: 13px !important;
}

#subtab-event .day-title {
  background-color: #f7f7f8;
  color: $fsek-orange;
  margin-top: 10px;
}

#subtab-event p.disabled {
  text-align: center;
}

#view-home .ptr-preloader {
  top: -35px;
}
