.news-card .name {
  font-style: italic;
}

.news-card .card-header {
  color: $fsek-orange;
  font-weight: bold;
}

.news-card .card-footer:before {
  content: none;
}

.news-card.card {
  margin-bottom: 16px;
}

.subtab {
  overflow-y: auto;
}

.subtab .infinite-scroll-preloader {
  height: 37px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

.subtab .day-title:not(:first-child) {
  margin-top: 13px !important;
}

#subtab2 .day-title{
  background-color: #f7f7f8;
  color: $fsek-orange;
}

#subtab2 p.disabled{
  text-align: center;
}
