a:active {
  color: $active-link;
}

.hidden {
  display: none !important;
}

#orange-navbar {
  background: $fsek-orange !important;
}

.searchbar .searchbar-cancel{
  color: $white !important;
}

.tabbar .badge {
  background: #ffe0b3;
  color: $fsek-orange;
  height: 19px;
  width: 19px;
  border: 1px solid #ffb485;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  margin-top: 4px;
}

#notification-badge {
  margin-right: 8px;
}

.tabbar a.tab-link-active, .tabbar a.tab-link-active i {
  color: $white !important;
}

.tabbar .active .badge {
  background: $white;
}

.tabbar i {
  font-size: 24px;
  color: #f9d5be !important;
}

.tabbar i.fa-comments {
  font-size: 30px;
}

.tabbar i.fa-home {
  padding-top: 1px;
  font-size: 32px;
}

.tabbar i.fa-bars {
  font-size: 27px;
}

.taphold {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.views {
  overflow: hidden;
}

a.external {
  word-break: break-all;
  overflow-wrap: break-word;
}

img.img-responsive {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 95%;
}

@media screen and (min-width: 767px) {
  img.img-responsive {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  img.img-responsive {
    width: 35%;
  }
}
