a:active {
  color: $active-link;
}

.hidden {
  display: none !important;
}

#orange-navbar {
  background: $fsek-orange !important;
}

.searchbar .searchbar-cancel{
  color: $white !important;
}

.tabbar .badge {
  background: #ffe0b3;
  color: $fsek-orange;
  height: 19px;
  width: 19px;
  border: 1px solid #ffb485;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  margin-top: 4px;
}

#notification-badge {
  margin-right: 8px;
}

.tabbar a.tab-link-active, .tabbar a.tab-link-active i {
  color: $white !important;
}

.tabbar .active .badge {
  background: $white;
}

.tabbar i {
  font-size: 24px;
  color: #f9d5be !important;
}

.tabbar i.fa-comments {
  font-size: 30px;
}

.tabbar i.fa-home {
  padding-top: 1px;
  font-size: 32px;
}

.tabbar i.fa-bars {
  font-size: 27px;
}

.taphold {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.views {
  overflow: hidden;
}

a.external {
  word-break: break-all;
  overflow-wrap: break-word;
}

img.img-responsive {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 95%;
}

@media screen and (min-width: 767px) {
  img.img-responsive {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  img.img-responsive {
    width: 35%;
  }
}

.theme-dark .item-link {
  color: $light-gray !important;
}

.ios .color-theme-orange .navbar,
.ios .theme-dark .navbar {
  background-color: $fsek-orange;
}

.md .color-theme-orange .navbar,
.md .theme-dark .navbar {
  background-color: $fsek-orange;
}

.ios .icon-back,
.ios .icon-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D'12'%20height%3D'20'%20viewBox%3D'0%200%2012%2020'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M.18261596%209.4221638c.0352203-.05148305.07573462-.10050698.1215468-.14631917L9.1425872.4374202c.5830904-.58309038%201.52656832-.5849888%202.11643872.00488163.5857864.58578644.591222%201.53009836.0048816%202.11643873L3.82594417%209.9967039l7.43188553%207.4318855c.5830904.5830904.5849888%201.5265683-.0048817%202.1164387-.5857864.5857865-1.5300983.591222-2.11643868.0048816L.2980849%2010.7114853c-.3526746-.3526746-.3939974-.89699-.11546894-1.2893215z'%20fill%3D'%23ff9500'%20fill-rule%3D'evenodd'%2F%3E%3C%2Fsvg%3E");
}

.ios .theme-dark {
  
}
