.introduction-contacts-content {
  background: $light-gray;

  .fa-external-link {
    padding-left: 2px;
  }

  .block {
    color: #4a4a4e;
  }

  .block-header {
    font-size: 20px;
  }

  .block-title {
    color: $nollning-red;
    font-size: 17px;
    overflow: visible;
    white-space: normal;
    word-break: break-all;
  }

  .block-title-large {
    font-size: 22px;
    word-break: break-word;

    a {
      color: $nollning-red;
      text-decoration: underline;
    }
  }

  .block-strong {
    background: $white;
    color: $black;

    a {
      color: $nollning-red;
      text-decoration: underline;
    }
  }
}

#introduction-contacts-back {
  filter: brightness(0) invert(1);
}
