.login-content{
  background-size: 200% 100%;
  background-image: url("#{$asset-path}/img/login-background_full.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  height: 100%;
}

.login-container {
  display: block;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

img.login-logo {
  display: block;
  height: auto;
  margin: 0 auto;
  min-width: 150px;
  width: 35vw;
  transition: 5s;
}

img.login-logo-spin {
  transition: 60s;
  transform:rotate(21600deg);
}

.login-container .list-block {
  margin: 15px 0;
}

.login-container .list-block ul {
  width: 80vw;
  color: $white;
  background: none;
}

.login-content .list-block ul:before, .login-content .list-block ul:after{
  display: none;
}

.login-content li.item-content{
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-image:  linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 100%);
  border-image-slice: 1;
  margin-bottom: 15px;
  min-height: 45px;
  height: 45px;
}

.login-content .item-input input{
  color: $white;
  margin-left: 10px;
}

.login-content ::-webkit-input-placeholder{
  color: $white !important;
}

.login-content i{
  color: $fsek-orange;
  font-size: 25px;
  margin: auto;
}

.login-content .item-media{
  width: 25px;
}

.login-content i.fa-lock{
  font-size: 32px !important;
}

.login-btn{
  width: 96%;
  margin-left: 2%;
  background: $fsek-orange;
  border-radius: 25px;
  padding: 0 !important;
  text-align: center;
}

.login-btn.active-state{
  background-color: #b95f26 !important;
}

.login-btn i{
  color: $white !important;
  font-size: 28px;
  vertical-align: -16%;
}

.login-footer{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 7px;
  bottom: 0;
  position: fixed;
  text-align: center;
}

.login-footer a{
  color: #c5c0c0;
  font-size: 12px;
}

@media screen and (max-height: 600px) {
  img.login-logo {
    width: 130px;
  }
}

@media screen and (min-height: 650px) {
  img.login-logo {
    margin-bottom: 30px;
    min-width: 160px;
  }
}
