.signup-confirm-content, .resetpw-confirm-content {
	background: #60b0d8;
	overflow: hidden;
}

.signup-confirm-content .block-title, .resetpw-confirm-content .block-title {
	text-align: center;
	color: $white;
	font-weight: bold;
	font-size: 24px;
	margin-top: 14%;
	margin-bottom: 14%;
	overflow: initial;
}

.signup-confirm-content .block-title p, .resetpw-confirm-content .block-title p {
	color: $fsek-orange;
	margin: 0;
	margin-top: 10px;
}

.signup-confirm-content .block, .resetpw-confirm-content .block {
	color: $white;
	width: 90%;
	margin-left: 5%;
}

.signup-confirm-content a, .signup-confirm-content span, .resetpw-confirm-content a, .resetpw-confirm-content span {
	color: $fsek-orange;
	font-weight: bold;
}
