.egg-season {
    background-color: red;
    width: 72px;
    height: 100px;
    display: inline-block;
}

.egg-season-summer {
    @extend .egg-season;
    float:left;
}

.egg-season-autumn {
    @extend .egg-season;
    float:left;
}

.egg-season-winter {
    @extend .egg-season;
    float:right;
}

.egg-season-spring {
    @extend .egg-season;
    float:right;
}

.egg-season-wrapper {
    position: absolute;
    top: 40%;
    left: 0px;
    width: 100%;
}

.egg-hilbert-wrapper {
    position: absolute;
    top: 21%;
    left: 0px;
    width: 100%;
    display: flex;
}

.egg-horn {
    width: 95px;
    height: 100px;
    display: inline-block;
}

.egg-horn-left {
    @extend .egg-horn;
    float:left;
    margin-left: calc(50% - 125px);
}

.egg-horn-right {
    @extend .egg-horn;
}

.egg-moose {
    width: 65px;
    height: 160px;
    display: inline-block;
    margin-top: 2px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}

.egg-moose-rotate {
    animation: rotation 2s infinite linear;
}

.egg-moose-scale {
    animation: scale 1.5s alternate infinite ease-in-out;
}