.group-badge {
  margin-right: 5px;
}

.nollning-btn-messages .group-badge {
  height: 19px;
  width: 19px;
  float: right;
  background: #ffe0b3;
  color: $fsek-orange;
  border: 1px solid #ffb485;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 4px;
}

.nollning-button-container .row:first-child {
  margin-bottom: 8px;
}

.nollning-btn-adventures {
  width: 15vh;
  background-image: url("../img/nollning_stone_adventures.png");
}

.nollning-btn-contact {
  width: 13vh;
  background-image: url("../img/nollning_stone_contact.png");
}

.nollning-btn-matrix {
  width: 14vh;
  background-image: url("../img/nollning_stone_matrix.png");
}

.nollning-btn-messages {
  width: 13vh;
  background-image: url("../img/nollning_stone_messages.png");
}

.nollning-button-container {
  width: 60%;
  margin: auto;
}

.nollning-button-container .col-50 div {
  height: 12vh;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.nollning-content {
  background: #61889a;
  padding-top: 0 !important;
}

.nollning-ocean {
  height: 62vh;
  background-image: url("../img/nollning_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.nollning-sand {
  height: 38vh;
  background-image: url("../img/nollning_sand.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.nollning-toolbar.toolbar {
  background-color: #2f729e !important;
}

.nollning-toolbar.toolbar i {
  color: white !important;
}

.tab-link .moose-icon {
  position: relative;
  height: 100%;
  width: 100%;
  background-image:  url(../img/nollning_moose_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  transition: 350ms;
}

.tab-link.tab-link-active .moose-icon {
  filter: hue-rotate(170deg);
}

#view-nollning .navbar {
  background-color: #2f729e !important;
}

.nollning-moose {
  position: absolute;
  width: 100vw;
  height: 28vh;
  margin-top: 20vh;
  background-image: url("../img/nollning_moose.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  pointer-events: none;
}

.nollning-ocean .row {
  padding-top: 29.5vh;
}

.nollning-ocean .nollning-left-col {
  width: calc(100vw*0.4);
  height: 14vh;
  margin-top: 4vh;
}

.nollning-ocean .nollning-middle-col {
  width: calc(100vw*0.2);
  height: 17vh;
}

.nollning-ocean .nollning-right-col {
  width: calc(100vw*0.4);
  height: 17vh;
  margin-top: 6vh;
}

#nollning-f-btn {
  height: 100%;
  width: 10vh;
  float: right;
}

#nollning-moose-btn {
  height: 100%;
  width: 10vh;
  margin: auto;
}

#nollning-pi-btn {
  height: 57%;
  width: 9vh;
  margin-left: 1vh;
}

#nollning-n-btn {
  height: 35%;
  width: 10vh;
  margin-left: -3vh;
}

.nollning-moose-orange {
  background-image: url("../img/nollning_moose_orange.png");
}

.nollning-tab {
  background-color: #f6fcff;
}

@font-face {
  font-family: Atlantis;
  src: url("../fonts/Atlantisnollning.otf");
}
