.nollning-background {
  background-image: url("../img/nollning_background.png");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  .nollning-left-col {
    height: 7vh;
    margin-top: 1vh;
    width: 43vw;
  }

  .nollning-right-col {
    height: 17vh;
    width: 57vw;
  }

  .row {
    justify-content: normal;
    padding-top: 41.5vh;
  }
}

.nollning-btn-messages .group-badge {
  background: #ffe0b3;
  border: 1px solid #ffb485;
  color: $fsek-orange;
  float: right;
  font-size: 12px;
  height: 22px;
  line-height: 20px;
  margin-top: 2vw;
  margin-right: 5px;
  padding: 0;
  width: 22px;
}

.group-badge {
  margin-right: 5px;
}

.nollning-btn-adventures {
  background-image: url("../img/adventure_icon.png");
  width: 13vh;
  margin-left: -4vh;
}

.nollning-btn-contact {
  background-image: url("../img/contact_icon.png");
    width: 13vh;
}

.nollning-btn-matrix {
  background-image: url("../img/calendar_icon.png");
  width: 13vh;
  margin-left: -4vh;
}

.nollning-btn-messages {
  background-image: url("../img/chat_icon.png");
  width: 13vh;
  margin-left: 4vh;
}

.nollning-btn-chants {
  background-image: url("../img/chants_icon.png");
  width: 13vh;
  margin-left: 4vh;
}

.nollning-button-container {
  margin: auto;
  width: 90%;

  .col-33 div, .col-50 div {
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 19vw;
    margin-top: -2vh;
    margin-bottom: -2vh;
    

  }

  .row:first-child {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
  }

  .row {
    justify-content: center;
  }
}

.nollning-contact-button-container {
  margin: auto;
  width: 90%;

  .col-33 div, .col-50 div {
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 24vw;
    margin: 1px;
  }

  .row:first-child {
    margin-bottom: 10px;
    margin-top: 10px
  }

  .row {
    justify-content: center;

  }
}

.nollning-content {
  background: $nollning-ground;
  padding-top: 0 !important;
}

.nollning-buttons {
  height: 38vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.nollning-toolbar.toolbar i {
  color: #ffcbcb !important;
}

.tab-link .moose-icon {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("../img/nollning_moose_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  transition: 350ms;
}

.tab-link.tab-link-active .moose-icon {
  background-image: url("../img/nollning_moose_icon_active.png");
}

#view-nollning .navbar {
  background-color: $nollning-red;
  transition: background-color 200ms ease;
}

#view-nollning .icon-back {
  filter: brightness(0) invert(1);
}

.nollning-moose {
  position: absolute;
  width: 100vw;
  height: 33vh;
  margin-top: 17vh;
  background-image: url("../img/nollning_moose.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  pointer-events: none;
}

.nollning-moose.nollning-moose-egg {
  animation: moose-animation 14s infinite;
}

@keyframes moose-animation {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

#nollning-f-btn {
  height: 100%;
  width: 15vh;
  float: right;
}

#nollning-moose-btn {
  height: 56%;
  margin: auto;
  padding-top: 21%;
  pointer-events: auto;
  width: 11vh;
}

#nollning-pi-btn {
  height: 51%;
  margin-top: 1.5vh;
  width: 13vh;
}

#nollning-n-btn {
  height: 27%;
  margin-left: 7vh;
  width: 12vh;
}

.nollning-tab {
  background-color: #f6fcff;
}

@font-face {
  font-family: Planewalker;
  src: url("../fonts/Planewalker.otf");
}
