.reset-password-content{
  background: #60b0d8/*#a36249*/;
  overflow: hidden;
}

.reset-password-content .content-block-title {
  text-align: center;
  color: $white;
  font-weight: bold;
  font-size: 24px;
  padding: 50px 0 10px 0;
  overflow: initial;
}

.reset-password-content .content-block{
  width: 80%;
  margin-left: 10%;
  margin-top: 55px;
  color: $white;
}

.reset-password-content .list-block ul {
  width: 80%;
  margin-left: 10%;
  color: $white;
  background: none;
}

.reset-password-content .list-block ul:before, .reset-password-content .list-block ul:after{
  display: none;
}

.reset-password-content li.item-content{
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-image:  linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 100%);;
  border-image-slice: 1;
  margin-bottom: 7%;
}

.reset-password-content .item-input input{
  color: white;
  margin-left: 10px;
}

.reset-password-content ::-webkit-input-placeholder {
  color: $white !important;
}

.reset-password-content i{
  color: $fsek-orange;
  font-size: 25px;
  margin: auto;
}

.reset-password-content .item-media{
  width: 25px;
}

.reset-password-btn{
  width: 100%;
  background: $fsek-orange;
  border-color: $fsek-orange !important;
  border-radius: 25px !important;
  color: $white !important;
}

.reset-password-btn.active-state{
  background-color: #b95f26 !important;
}

.reset-password-footer{
  width: 100%;
  bottom: 0;
  position: fixed;
  text-align: center;
  margin-bottom: 7px;
}

.reset-password-footer p{
  color: $white;
}

.reset-password-footer a{
  color: $fsek-orange;
  font-weight: bold;
}
