.signup-content{
  background: #60b0d8;
  overflow: hidden;
}

.signup-title {
  background: #60b0d8 /*#875f66*/;
  bottom: auto;
  color: $white;
  font-size: 24px;
  font-weight: bold;
  padding: 30px 0 10px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.signup-content .list-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 25px auto;
  position: relative;
}

.signup-content .list-block ul {
  background: none;
  color: $white;
  display: block;
  height: calc(100% - 80px - 20px - 40px);
  overflow-y: scroll;
  width: 100%;
}

.signup-content .list-block li {
  margin: auto;
  width: 80vw;
}

.signup-content .list-block ul:before, .signup-content .list-block ul:after{
  display: none;
}

.signup-content li.item-content{
  border-image:  linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 100%);
  border-image-slice: 1;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  height: 45px;
  margin-bottom: 20px;
  min-height: 45px;
}

.signup-content .item-input input{
  color: white;
  margin-left: 10px;
}

.signup-content ::-webkit-input-placeholder {
  color: white !important;
}

.signup-content i{
  color: $fsek-orange;
  font-size: 25px;
  margin: auto;
}

.signup-content i.fa-lock{
  font-size: 32px !important;
}

.signup-content i.fa-user{
  font-size: 30px !important;
}

.signup-content .item-media{
  width: 25px;
}

.signup-btn{
  width: 76%;
  margin-left: 12%;
  background: $fsek-orange;
  border-color: $fsek-orange !important;
  border-radius: 25px !important;
  color: $white !important;
}

.signup-btn.active-state{
  background-color: #b95f26 !important;
}

.signup-footer{
  width: 100%;
  bottom: 0;
  position: absolute;
  text-align: center;
  margin-bottom: 7px;
}

.signup-footer p{
  color: $white;
  font-size: 13px;
}

.signup-footer a{
  color: $fsek-orange;
  font-weight: bold;
}
