.searchbar-songbook .searchbar-disable-button {
  color: $fsek-orange !important;
}

#songbook-list {
  margin-right: 17px;
  margin-bottom: 0;
}

#songbook-list .list-group-title {
  font-weight: bold;
  color: #3c3c3c;
}

.songbook-indexlist li {
  margin-top: 5px;
  color: #8e8e93;
}

.songbook-indexlist .list-index-label {
  background: $fsek-orange !important;
}

.song-content .block-title {
  font-size: 27px;
  color: $fsek-orange;
  white-space: initial;
  line-height: initial;
}

.theme-dark .song-content .block-title {
  color: $fsek-orange;
}

.song-content .block .auth-mel {
  margin-bottom: 0;
}

.song-content .block {
  margin-bottom: 16px;
  margin-top: 0;
  color: $black;
}

.theme-dark .song-content .block {
  color: $light-gray;
}

.song-content .block p {
  font-size: 16px;
  margin-top: 0;
}

.song-content .block span {
  color: $fsek-orange;
}

.song-content .song-text {
  background-color: $white;
}

.theme-dark .song-content .song-text {
  background-color: $dark-gray;
}

.song-content .song-text p:last-child {
  margin-bottom: 0;
}

.song-content .song-text .block-inner {
  padding: 15px 0;
}

.songbook-content .list ul::before, .songbook-content .list ul:after {
  display: none;
}

.songbook-content .preloader, .song-content .preloader {
  margin-left: calc(50% - 20px);
  margin-top: calc(50% - 20px);
  height: 40px;
  width: 40px;
}

.songbook-content .searchbar-not-found {
  font-size: 16px;
}

.theme-dark .searchbar {
  background-color: $dark-gray !important;
}
