// Colors
$fsek-orange: #eb7125;
$white: #ffffff;
$active-link: #d35400;
$light-gray: #f3f3f3;
$green: #2e8b57;
$gray: #bbb;
$black: #000000;

// Nollning
// 2019
// $nollning-ground: #590d02;
// $nollning-ground-dark: #420901;
// $nollning-red: #c01d1d;

// $adventure-week-one: #45afeb;
// $adventure-week-two: #b52548;
// $adventure-week-three: #83213f;
// $adventure-week-four: #578344;
// $adventure-week-five: #eb7125;

// 2020
$nollning-ground: #094203;
$nollning-ground-dark: #073302;
$nollning-red: #0e5e05;

$adventure-week-one: #d7c9b2;
$adventure-week-two: #620c22;
$adventure-week-three: #9db1c9;
$adventure-week-four: #85cc43;
$adventure-week-five: #eb7125;
