// Colors
$fsek-orange: #eb7125;
$light-orange: #ff9800;
$white: #ffffff;
$active-link: #d35400;
$light-gray: #f3f3f3;
$green: #2e8b57;
$gray: #bbb;
$black: #000000;

// Dark mode colors
$dark-gray: #202020;
