
.login-content{
	color: #eb7125;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../img/framsida_kram.png");
}

.login-logo{
	width: 55%;
	height: 30%;;
	margin-left: 24%;
	margin-top: 5%;
	margin-bottom: 20%; 
	background-position: fixed;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../img/f_logo.png");		
}

.sign-in-button{
	/*opacity: 0.7;*/
	width: 90%;
	background: #eb7125;
	border-radius: 8px;
	color: white;
}

.login-input{
	width: 85%;
	margin-left: 7.5%;
	color: #FFF;
}

.login-text{
	color: #FFF !important;
}

.login-linktext{
	color: #eb7125;
}

.login-info{
	width: 10%;
	height: 5%;
	background-color: black;
	position: absolute;
	margin-left: 85%;
	margin-top: 5%;
}

input::-webkit-input-placeholder {
  color: white;
}

a:active{
	color:#d35400;
}

.statusbar-overlay {
    background: #f7f7f8;
}
 


.send-message{
	color: orange;
}

.chatbox{
	width: 100%;
	height: 13%;
	background-color: white;
	text-align: center;
	border: #FFF;
	border-bottom: #e8e8e8;
	border-style: solid;
}


/*Calendar style*/
.calendar{
	background: #ffedcd !important;
	color: orange;
	height: 300px; /*60px for weekCalendar*/
	padding-top: 44px;
}

.day-content{
	height: 150px;
	width: 100%;
	background-color: #88acff;
	overflow: scroll;
}

.day-title{
	text-align: center;
	height: 25px;
}

.event{
	height: 50px;
	background-color: white;
}




.calendar-row{
	height: 100%;
}

.week-month-trigger-button{
	width: 10%;
	height: 50%;
	border-radius: 50px;
	background-color: blue;
	margin-left: 60%;
	position: absolute;
	top: 420px;
}

.transition{
	transition: 0.3s linear
}


