.adventures-subnavbar {
  background-color: #2f729e !important;
  padding-bottom: 12px;
  margin-top: 0 !important;
}

.adventures-subnavbar .tab-link-active {
  color: #2f729e !important;
}

.adventures-subnavbar .tab-link {
  background-color: #1c4979;
  border-color: #ffffff36 !important;
}

.adventure-mission-completed {
  background-color: #daffdf;
}

.adventure-mission {
  transition: 500ms;
}

/* CURRENT ADVENTURE */
.adventures-current-header {
  position: fixed;
  width: 100%;
  z-index: 100000;
  background-color: #f6fcff;
  height: 76px;
  border-bottom: 1px solid #e2e2e2;
}

.adventures-current-list {
  margin-top: 76px !important;
}

.adventures-current-list .item-title {
  white-space: initial;
}

.adventures-current-title {
  font-size: 16px;
  color: #1c4979;
  margin: 16px 16px 10px 16px;
}

.adventures-current-title span {
  float: right;
}

.adventures-current-preloader {
  margin-top: 140px !important;
}

.adventures-current-progressbar {
  width: calc(100% - 32px);
  margin-left: 16px;
  height: 10px !important;
  background-color: #c7daff !important;
}

.adventures-current-progressbar span {
  background-color: #2f729e !important;
}
