.calendar-page {
  display: flex;
  flex-direction: column;
}

.calendar-page .content-block{
  margin-bottom: 25px;
}

.calendar-block {
  margin-bottom: -25px;
  margin-right: -16px;
  padding: 0;
  width: auto;
}

.picker-calendar.picker-modal-inline {
  height: 310px;
}

.picker-calendar .picker-header,
.picker-calendar .picker-footer {
  display: none;
}

.picker-calendar .calendar-custom-toolbar {
  margin-bottom: 3px;
  background-color: #eb7125;
  color: #fff;
}

.picker-calendar .calendar-custom-toolbar .toolbar-inner {
  padding-left: 10px;
}

.picker-calendar .calendar-custom-toolbar .toolbar-inner a{
  color: #fff;
}

.picker-calendar .calendar-custom-toolbar .toolbar-inner .left{
  font-weight: bold;
}

.picker-calendar .picker-calendar-day-selected span{
  background-color: #eb7125 !important;
}

.picker-calendar .picker-calendar-day-today:not(.picker-calendar-day-selected) span{
  color: #eb7125 !important;
}

.picker-calendar .picker-calendar-day-has-events.picker-calendar-day-today span:after{
  background-color: #eb7125 !important;
}

/* Overrides F7 default: (100% - 3*48px) = three toolbars. We only have one */
.picker-modal .picker-header+.picker-footer+.toolbar+.picker-modal-inner {
  height: -webkit-calc(100% - 48px);
  height: -moz-calc(100% - 48px);
  height: calc(100% - 48px);
}

/* Overrides F7 default: Without "-1px" some content overflows! */
.picker-calendar-row {
  height: -webkit-calc(100% / 6 - 1px);
  height: -moz-calc(100% / 6 - 1px);
  height: calc(100% / 6 - 1px);
}

.day-title {
  height: 23px;
  min-height: 23px;
  padding: 5px 0 2px 10px;
  background-color: #eb7125;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.day-content {
  flex: 1 1 auto;
  overflow-y: auto;
  width: 100%;
  margin-top: 1px;
}

.day-content .disabled{
  text-align: center;
}

.day-content .preloader{
  margin-left: calc(50% - 15px);
  margin-top: 5vh;
  height: 30px;
  width: 30px;
}

.day-content-event:first-child {
  margin-top: 8px;
}

a.day-content-event {
  color: #eb7125;
  display: block;
  background-color: #fff;
  margin: 7px 10px;
}

.day-content-event .card-header {
  min-height: 37px;
  padding: 4px 16px 0 16px;
  font-weight: bold;
}

.day-content-event .card-header:after {
  content: none;
}

.day-content-event .card-content-inner {
  padding: 0 16px 10px 16px;
  color: #000;
}

.day-content-event .card-media {
  position: absolute;
  padding-right: 12px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.day-content-event i.icon{
  color: #eb7125;
}

.day-content-event .date, .day-content-event .location{
  margin: 0;
  margin-bottom: 5px;
}

.day-content-event .date i, .day-content-event .location i{
  font-size: 18px;
  color: #eb7125;
  padding-right: 2px;
}

.day-content-event .location i{
  padding-left: 2px;
  padding-right: 5px;
}

/* Adjust calendar height for different screen sizes */
@media screen and (min-height: 600px) {
  .picker-calendar.picker-modal-inline {
    height: 340px;
  }
}

@media screen and (min-height: 650px) {
  .picker-calendar.picker-modal-inline {
    height: 350px;
  }
}

@media screen and (min-height: 700px) {
  .picker-calendar.picker-modal-inline {
    height: 380px;
  }
}

@media screen and (min-height: 750px) {
  .picker-calendar.picker-modal-inline {
    height: 400px;
  }
}

@media screen and (min-height: 850px) {
  .picker-calendar.picker-modal-inline {
    height: 425px;
  }
}

@media screen and (min-height: 1000px) {
  .picker-calendar.picker-modal-inline {
    height: 575px;
  }
}

@media screen and (min-height: 1300px) {
  .picker-calendar.picker-modal-inline {
    height: 775px;
  }
}
