.calendar-page {
  display: flex;
  flex-direction: column;
}

.calendar-block {
  margin-bottom: -25px;
  margin-right: -16px;
  padding: 0;
  width: auto;
}

.picker-calendar {
  color: orange;
}

.picker-calendar.picker-modal-inline {
  height: 285px;
}

.picker-calendar .picker-header,
.picker-calendar .picker-footer {
  display: none;
}

.picker-calendar .calendar-custom-toolbar {
  margin-bottom: 5px;
}

.picker-calendar .calendar-custom-toolbar .toolbar-inner {
  padding-left: 10px;
  padding-top: 10px;
}

.picker-modal .picker-modal-inner {
  padding-bottom: 15px;
}

/* Overrides F7 default: (100% - 3*48px) = three toolbars. We only have one */
.picker-modal .picker-header+.picker-footer+.toolbar+.picker-modal-inner {
  height: -webkit-calc(100% - 48px);
  height: -moz-calc(100% - 48px);
  height: calc(100% - 48px);
}

/* Overrides F7 default: Without "-1px" some content overflows! */
.picker-calendar-row {
  height: -webkit-calc(100% / 6 - 1px);
  height: -moz-calc(100% / 6 - 1px);
  height: calc(100% / 6 - 1px - 1px);
}

.day-title {
  height: 23px;
  margin-top: -3px;
  min-height: 23px;
  padding-bottom: 2px;
  padding-left: 10px;
  text-align: center;
}

.day-content {
  flex: 1 1 auto;
  overflow-y: auto;
  width: 100%;
}

.day-content-event:first-child {
  margin-top: 0;
}

a.day-content-event {
  background-color: #eb7125;
  color: white;
  display: block;
  margin: 7px 10px;
}

.day-content-event .card-header {
  min-height: 37px;
  padding: 4px 16px 0 16px;
}

.day-content-event .card-header:after {
  content: none;
}

.day-content-event .card-content-inner {
  padding: 0 16px 10px 16px;
}

.day-content-event .date {
  margin-right: 5px;
}

.day-content-event .location {
  margin-left: 5px;
}

/* Adjust calendar height for different screen sizes */
@media screen and (min-height: 600px) {
  .picker-calendar.picker-modal-inline {
    height: 340px;
  }
}

@media screen and (min-height: 650px) {
  .picker-calendar.picker-modal-inline {
    height: 350px;
  }
}

@media screen and (min-height: 700px) {
  .picker-calendar.picker-modal-inline {
    height: 380px;
  }
}

@media screen and (min-height: 750px) {
  .picker-calendar.picker-modal-inline {
    height: 400px;
  }
}

@media screen and (min-height: 850px) {
  .picker-calendar.picker-modal-inline {
    height: 425px;
  }
}

@media screen and (min-height: 1000px) {
  .picker-calendar.picker-modal-inline {
    height: 575px;
  }
}

@media screen and (min-height: 1300px) {
  .picker-calendar.picker-modal-inline {
    height: 775px;
  }
}
