.calendar-page {
  display: flex;
  flex-direction: column;
}

.calendar.calendar-inline {
  height: 310px;
}

.calendar .calendar-week-header {
  height: 20px;
  color: #eb7125;
}

.calendar .calendar-day-selected span{
  background-color: #eb7125 !important;
}

.calendar .calendar-day-today:not(.calendar-day-selected) span{
  color: #eb7125 !important;
}

.calendar .calendar-day-has-events.calendar-day-today span:after{
  background: #eb7125 !important;
}

.calendar .calendar-day-has-events span:after{
  background: #ccc !important;
}

.calendar .calendar-day-has-events.calendar-day-selected span:after{
  background: none !important;
}

/* Overrides F7 default: Without "-1px" some content overflows! */
.calendar-row {
  height: -webkit-calc(100% / 6 - 1px);
  height: -moz-calc(100% / 6 - 1px);
  height: calc(100% / 6 - 1px);
}

.day-title {
  height: 23px;
  min-height: 23px;
  padding: 5px 0 2px 10px;
  background-color: #eb7125;
  color: #fff;
  font-weight: bold;
}

.day-content {
  flex: 1 1 auto;
  overflow-y: auto;
  width: 100%;
}

.day-content .disabled{
  text-align: center;
}

.day-content .preloader{
  margin-left: calc(50% - 15px);
  margin-top: 5vh;
  height: 30px;
  width: 30px;
}

.day-content-event:first-child {
  margin-top: 8px;
}

a.day-content-event {
  color: #eb7125 !important;
  display: block;
  background-color: #fff;
  margin: 7px 10px;
}

.day-content-event .card-header {
  min-height: 37px;
  padding: 4px 16px 0 16px;
  font-weight: bold;
}

.day-content-event .card-header:after {
  content: none;
}

.day-content-event .card-content-inner {
  padding: 0 16px 10px 16px;
  color: #000;
}

.day-content-event .card-media {
  position: absolute;
  padding-right: 12px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.day-content-event i.icon{
  color: #eb7125;
}

.day-content-event .date, .day-content-event .location{
  margin: 0;
  margin-bottom: 5px;
}

.day-content-event .date i, .day-content-event .location i{
  font-size: 18px;
  color: #eb7125;
  padding-right: 2px;
}

.day-content-event .location i{
  padding-left: 2px;
  padding-right: 5px;
}

/* Adjust calendar height for different screen sizes */
@media screen and (min-height: 600px) {
  .calendar.calendar-inline {
    height: 340px;
  }
}

@media screen and (min-height: 650px) {
  .calendar.calendar-inline {
    height: 350px;
  }
}

@media screen and (min-height: 700px) {
  .calendar.calendar-inline {
    height: 380px;
  }
}

@media screen and (min-height: 750px) {
  .calendar.calendar-inline {
    height: 400px;
  }
}

@media screen and (min-height: 850px) {
  .calendar.calendar-inline {
    height: 425px;
  }
}

@media screen and (min-height: 1000px) {
  .calendar.calendar-inline {
    height: 575px;
  }
}

@media screen and (min-height: 1300px) {
  .calendar.calendar-inline {
    height: 775px;
  }
}
