#contact-description {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact-text textarea{
  overflow: scroll;
  height: 100%;
}

.contact-text {
  height: 200px;
}

.contact-content .block-title {
  padding-top: 18px;
  margin-left: 16px;
  margin-bottom: 8px;
  color: #eb7125; 
  font-size: 17px; 
}

.contact-content .list-block .contact-button {
  background-color: #eb7125 !important;
  margin-top: 20px;
}

.contact-content .list-block {
  margin-top: 15px;
}
