ul li.item-content.error{
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-image:  linear-gradient(to right, rgba(255,0,0,0) 0%, rgba(255,0,0,1) 50%, rgba(255,0,0,0) 100%);
  border-image-slice: 1;
}

.error i.icon{
  color: red;
}

ul li.item-content.error-message{
  min-height: 20px;
  height:  20px;
  border: none;
  color: red;
  margin-top: -15px;
  margin-bottom: 5px;
  font-size: 14px;
}
