.event-content .card-content .item-inner:after, .event-content .card-content ul:before, .event-content .list-group:last-of-type ul:after {
  display: none;
}

.event-content .fa-envelope {
  font-size: 17px;
}

.event-content .fa-check-circle {
  color: #4e9d2d;
}

.event-content .fa-times-circle, .event-content .fa-exclamation-circle {
  color: #e74c3c;
}

.event-content i {
  color: #eb7125;
  font-size: 22px;
  margin: auto;
}

.event-content .item-media {
  width: 20px;
}

.event-content .item-inner a{
  color: #eb7125 !important;
}

.event-content .item-title {
  white-space: initial;
}

.event-content .list-group ul:after{
  background-color: #e1e1e1;
}

.event-content .preloader {
  margin-left: calc(50% - 20px);
  margin-top: calc(50% - 20px);
  height: 40px;
  width: 40px;
}

.event-description {
  max-height: 100px;
  overflow: hidden;
  transition: 500ms;
}

.event-description.content-fade:after {
  position: absolute;
  bottom: 0;  
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 90%);
  pointer-events: none;
}

.event-description p:first-child {
  margin-top: 8px;
}

.event-description-container {
  padding: 0 15px;
}

.event-description-container i {
  padding-bottom: 5px;
  font-size: 25px;
}

.event-description-container span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.event-signup-container input {
  font-size: 14px !important;
}

.event-signup-btn {
  background-color: #eb7125;
  border-color: #eb7125 !important;
  color: #fff !important;
  margin: 15px;
}

.event-signup-btn.active-state {
  background-color: #b95f26 !important;
}

.event-signup-cancel-btn {
  background-color: #e74c3c;
  border-color: #e74c3c !important;
  color: #fff !important;
  margin: 15px;
}

.event-signup-cancel-btn.active-state {
  background-color: #a73529 !important;
}

#event-signup-group input, #event-signup-groupcustom input, #event-usertype input {
  background-color: #ececec;
  padding-left: 10px;
  border-radius: 4px;
}

.event-title { 
  font-size: 24px !important;
  white-space: initial;
  font-weight: bold;
  color: #eb7125;
}

.ios .event-contact a, .md .event-contact a {
  color: #eb7125;
}

.ios .event-content .list, .md .event-content .list {
  font-size: 14px;
}

.popover-about-signup .block-title {
  color: #eb7125;
  margin-top: 20px;
}

.popover-about-signup .block {
  margin-bottom: 20px;
}
