.groups-list{
  margin-top: 0 !important;
}

.groups-list .item-text {
  display: block;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.groups-list .item-text p {
  display: none;
}

.groups-list .unread {
  background-color: rgba(253, 133, 21, 0.12);
}

.no-groups {
  text-align: center;
  font-size: 14px;
}

ul.no-groups:before, ul.no-groups:after {
  display: none !important;
}
