.groups-list{
  margin-top: 0;
}

.groups-list .item-text {
  display: block;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.groups-list .item-text p {
  display: none;
}
