a:active {
  color:#d35400;
}

.tabbar .badge {
  background: #ffe0b3;
  color: #eb7125
}

.tabbara.active .badge {
  background: #fff;
}

.taphold {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

img.img-responsive {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 80%;
}

@media screen and (min-width: 767px) {
  img.img-responsive {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  img.img-responsive {
    width: 35%;
  }
}
