.messages-auto-layout .message-label.message-updated {
  display: inline;
  margin-bottom: 10px;
}

.day-content {
  margin-bottom: 44px;
}

.calendar-page .content-block{
  margin-top: -1px;
}

.navbar:after {
  background:  #eb7125;
}

.navbar i.icon, .navbar a{
  color: #fff;
}

.tabbar{
  background: #eb7125;
  color: #ffe0b3;
}

.tabbar a.active, .tabbar a.active i{
  color: #fff !important;
}

.subtabs {
  margin: 0;
  padding: 0px 10px 10px 10px;
  background: #eb7125;
}

#subtab2 .day-title{
  margin-top: 10px;
}

.subtabs .tab-link{
  border-color: #fff !important;
  color: #fff !important;
}

.subtabs .tab-link.active{
  color: #eb7125 !important;
  background-color: #fff !important;
}

.subtab-container {
  height: -webkit-calc(100vh - 125px);
  height: calc(100vh - 125px);
}

.notification-list li:last-child {
  margin-bottom: 53px;
}

.picker-calendar {
  color: #eb7125;
}

.picker-calendar .picker-calendar-day-today span{
  background: none;
}
