.login-screen-content {
  background-size: 200% 100%;
  background-image: url("../img/login-background_full.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  height: 100%;
}

.login-container {
  display: block;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

img.login-logo {
  display: block;
  height: auto;
  margin: 0 auto;
  min-width: 150px;
  width: 35vw;
}

img.login-logo-spin {
  transition: 1.5s;
  transform:rotate(720deg);
}

.login-container .list ul {
  width: 80vw;
  color: #FFF;
  background: none;
  max-width: 480px;
}

.login-screen-content .list ul:before, .login-container ul:after, .login-container .list .item-inner:after, .login-container .item-input-wrap:after {
  display: none;
}

.login-screen-content li.item-content {
  margin-bottom: 15px;
  min-height: 45px;
  height: 45px;
}

.login-screen-content .item-content:after {
  content: '';
  position: absolute;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 100%);
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
}

.login-screen-content .item-input input {
  color: #fff !important;
  margin-left: 10px;
}

.login-screen-content ::-webkit-input-placeholder {
  color: #fff !important;
}

.login-screen-content i {
  color: #eb7125;
  font-size: 25px;
  margin: auto;
}

.login-screen-content .item-media {
  width: 25px;
}

.login-screen-content i.fa-lock {
  font-size: 32px !important;
}

.login-btn {
  width: 96%;
  margin-left: 2%;
  background: #eb7125;
  border-radius: 25px;
  padding: 0 !important;
  text-align: center;
}

.login-btn.active-state {
  background-color: #b95f26 !important;
}

.login-btn i {
  color: #fff !important;
  font-size: 28px;
  vertical-align: -16%;
}

.login-footer {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 7px;
  bottom: 0;
  position: fixed;
  text-align: center;
}

.login-footer a {
  color: #c5c0c0 !important;
  font-size: 12px;
}

@media screen and (max-height: 600px) {
  img.login-logo {
    width: 130px;
  }
}

@media screen and (min-height: 650px) {
  img.login-logo {
    margin-bottom: 30px;
    min-width: 160px;
  }
}
