.toolbar.messagebar {
  background-color: #fff !important;
  position: fixed;
}

.toolbar{
  background-color: #eb7125 !important;
}

.tabbar .badge {
  height: 18px;
  margin-top: 4px;
  padding-top: 3px;
  padding-left: 7px;
}

.messages .message-sent .message-text {
  background-color: #cfd8dc;
}

.messages .message-sent .message-text:before {
  border-bottom-color: #cfd8dc;
}

.android-hide {
  display: none !important;
}

.content-block-title{
	line-height: 1;
}

.subtabs {
  margin: 10px 0 2px 0;
  padding: 0 8px;
}

.subtab-container {
  height: -webkit-calc(100vh - 104px);
  height: calc(100vh - 104px);
}

.subtabs .buttons-row {
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.subtabs .buttons-row .button {
  margin-left: 0;
}

.subtabs .button.active:not(.button-fill) {
  background-color: #eb7125;
  color: white;
}

#subtab1 .news-card{
  margin-top: 15px;
}

#subtab2 .day-title{
  margin-top: 10px;
}

.android-shadow{
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14),
                0 1px 10px 0 rgba(0,0,0,.12);
}

.input-field:after, .item-input-field:after{
  background-color: rgba(255,255,255,0) !important;
}

.modal .input-field:after {
  background-color: black !important;
}

.modal .input-field.focus-state:after,
.modal .input-field.not-empty-state:after {
    background-color: #eb7125 !important;
}

.picker-calendar .calendar-custom-toolbar {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.picker-calendar .calendar-custom-toolbar .toolbar-inner {
  padding-top: 10px;
}

.picker-calendar .picker-calendar-week-days {
  color: #eb7125;
}

.picker-calendar {
  color: #000;
}

.picker-calendar .picker-calendar-day-has-events span:after{
  background-color: #ccc !important;
}

.pages {
  background: #efeff4;
}

.message-name{
  z-index: 100;
}

.navbar a.link{
  padding-right: 0;
}
