.message-text p:first-child {
  margin-top: 0;
}

.message-text p:last-child {
  margin-bottom: 0;
}

.message-sent.message-admin .message-bubble,
.message-received.message-admin .message-bubble {
  background-color: #ff9800;
  color: #fff;
}

.msg-editor-page .content-block-title {
  margin-top: 15px;
  padding-top: 5px;
}

.msg-editor {
  display: block;
  height: 90%;
  margin: 0 10px;
}

.msg-editor textarea {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 17px;
  height: 100%;
  line-height: 20px;
  padding: 6px 15px;
  resize: none;
  width: 100%;
}

.message-image img {
  max-width: unset;
}
