.nollning-button-container .row:first-child {
  margin-bottom: 8px;
}

.nollning-btn-adventures {
  width: 15vh;
  background-image: url("../img/nollning_stone_adventures.png");
}

.nollning-btn-contact {
  width: 13vh;
  background-image: url("../img/nollning_stone_contact.png");
}

.nollning-btn-matrix {
  width: 14vh;
  background-image: url("../img/nollning_stone_matrix.png");
}

.nollning-btn-messages {
  width: 13vh;
  background-image: url("../img/nollning_stone_messages.png");
}

.nollning-button-container {
  width: 60%;
  margin: auto;
}

.nollning-button-container .col-50 div {
  height: 12vh;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.nollning-content {
  padding-top: 0 !important;
}

.nollning-ocean {
  height: 62vh;
  background-image: url("../img/nollning_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.nollning-sand {
  height: 38vh;
  background-image: url("../img/nollning_sand.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.nollning-toolbar.toolbar {
  background-color: #2f729e !important;
}

.nollning-toolbar.toolbar i {
  color: white !important;
}

.tab-link .moose-icon {
  height: 43px;
  background-image:  url(../img/nollning_moose_icon.png);
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 350ms;
}

.tab-link.tab-link-active .moose-icon {
  filter: hue-rotate(170deg);
}

#view-nollning .navbar, .photo-browser-page .navbar {
  background-color: #2f729e !important;
}

.nollning-moose {
  position: absolute;
  width: 100vw;
  height: 25vh;
  margin-top: 21vh;
  background-image: url("../img/nollning_moose.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  pointer-events: none;
}

.nollning-ocean .row {
  padding-top: 29.5vh;
}

.nollning-ocean .nollning-left-col {
  width: calc(100vw*0.4);
  height: 14vh;
  margin-top: 4vh;
}

.nollning-ocean .nollning-middle-col {
  width: calc(100vw*0.2);
  height: 17vh;
}

.nollning-ocean .nollning-right-col {
  width: calc(100vw*0.4);
  height: 17vh;
  margin-top: 6vh;
}

#nollning-f-btn {
  height: 100%;
  width: 10vh;
  float: right;
}

#nollning-moose-btn {
  height: 100%;
  width: 10vh;
  margin: auto;
}

#nollning-pi-btn {
  height: 57%;
  width: 9vh;
  margin-left: 1vh;
}

#nollning-n-btn {
  height: 35%;
  width: 10vh;
  margin-left: -3vh;
}

.nollning-moose-orange {
  background-image: url("../img/nollning_moose_orange.png");
}

.color-blue {
  color: #2f729e !important;
}

@font-face {
  font-family: Atlantis;
  src: url(/fonts/testfont.otf);
}

.fadder-namn {
  width: 100%;
  font-size: 11vw;
  text-align: center;
  line-height: 50px !important;
  color: white !important;
  margin-left: 0px !important;
  font-family: Atlantis;
  position: relative;
}

.nollning-tab {
  background-color: #f6fcff;
}

.nollning-block {
  margin: 15px;
  text-align: center;
  font-size: 17px;
}

.nollning-p {
  display: inline-block;;
}

.test {
  color: white;
  text-align: left;
  position: relative;
  padding-bottom: 5px;
}

.test span{
  float: right;
}
#adventures-group {
  background-image: url("../img/nollning_background_background.png");
  background-size: cover;
  background-position-x: center;
  background-position-y: 20px;
}

#adventures-group:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(#2f729e 0%, #2f729e 20%, #1c497957 100%);
}

.nollning-container {
  padding-bottom: 5px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nollning-box {
  width: 40%;
  padding: 8px;
  font-size: 16px;
  text-align: center;
}

.adventure-mission-completed {
  background-color: #daffdf;
}

.list-group-title-nollning {
  font-weight: bolder;
  color: black !important;
  font-size: 20px;
  padding-top: 10px !important;
  padding-left: 15px !important;
}

.adventure-missions-list {
  margin: 0px !important;
}

.progress-p {
  margin: 0;
  color: white !important;
  font-weight: bold;
}

.adventure-missions-progressbar {
  background-color: #16313e !important;
  padding: 2px;
  height: 22px !important;
  border-radius: 10px !important;
}

.mission-button {
  background-color: #1c4979 !important;
  border: none !important;
  margin-top: 8px;
}

.progress-span {
  position: relative;
  background-color: #eb7125 !important;
  z-index: -1;
}

.titelasdasd {
  position: relative;
  color: white;
  font-size: 17px;
}

.contajner {
  margin: 25px 15px 15px 15px;
}

.adventures-container {
  background: #2f729e;
}
