.notification-list{
  margin-top: 0 !important;
}

.notification-title{
  color: #eb7125;
}

.notification-list .unvisited {
  background-color: rgba(253, 133, 21, 0.12);
}

.notification-list .item-title {
  font-size: 18px;
}

.notification-list .item-subtitle {
  font-size: 15px;
  overflow: auto;
  white-space: normal;
}

.notification-list .item-subtitle p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.notification-list .item-text {
  color: black;
  font-size: 13px;
  font-style: italic;
  padding-top: 3px;
}

.notification-list .item-text:empty {
  padding-top: 0;
  height: 15px;
}

.notification-list .item-created {
  font-size: 11px;
  color: grey;
}

.notification-list .item-inner:after {
  background-color: rgba(0, 0, 0, 0.25) !important;
  margin-left: -5px;
}

.notification-list .disabled{
  text-align: center;
}

.notification-list ul:empty:before, .notification-list ul:empty:after{
  content: none;
}

.no-notifications{
  text-align: center;
}
