.reset-password-content {
  background: #60b0d8 /*#a36249*/;
  display: flex;
  flex-direction: column;
  /*overflow: hidden;*/
}

.reset-password-title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  /*overflow: initial;*/
}

.reset-password-content .block {
  width: 80%;
  margin-left: 10%;
  margin-top: 55px;
  color: #fff;
}

.reset-password-content .list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 25px auto;
}

.reset-password-content .list ul {
  background: none;
}
.reset-password-content .list ul:before, .reset-password-content .list ul:after, .reset-password-content .list .item-inner:after, .reset-password-content .item-input-wrap:after {
  display: none;
}

.reset-password-content li.item-content:not(.error-message) {
  margin-bottom: 25px;
}

.reset-password-content .item-content:not(.error-message):after {
  content: '';
  position: absolute;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 100%);
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
}

.reset-password-content .item-input input {
  color: #fff !important;
  margin-left: 10px;
}

.reset-password-content ::-webkit-input-placeholder {
  color: #fff !important;
}

.reset-password-content i {
  color: #eb7125;
  font-size: 25px;
}

.reset-password-content .item-media {
  width: 25px;
  padding-left: 8px;
}

.reset-password-btn {
  width: 90%;
  margin-left: 5%;
  background: #eb7125;
  border-color: #eb7125 !important;
  border-radius: 25px !important;
  color: #fff !important;
}

.reset-password-btn.active-state {
  background-color: #b95f26 !important;
}

.reset-password-footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: 7px;
  color: #fff;
}

.reset-password-footer a {
  color: #eb7125 !important;
  font-weight: bold;
}
