.signout-btn{
  background-color: #e74c3c;
  border-color: #e74c3c !important;
  color: #fff !important;
}

.signout-btn.active-state{
  background-color: #a73529 !important;
}

.about-title{
  font-size: 24px;
  font-weight: bold;
  color: #eb7125;
  overflow: visible;
}

