.signup-content {
  background: #60b0d8 /*#875f66*/;
  display: flex;
  flex-direction: column;
  /*overflow: hidden;*/
}

.signup-title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  /*width: 100%;*/
}

.signup-content .list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 25px auto;
  margin-top: 20px;
}

.signup-content .list ul {
  background: none;
}

.signup-content .list ul:before, .signup-content .list ul:after, .signup-content .list .item-inner:after, .signup-content .item-input-wrap:after {
  display: none;
}

.signup-content li.item-content {
  margin-bottom: 20px;
}

.signup-content .item-content:not(.error-message):after {
  content: '';
  position: absolute;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 100%);
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
}

.signup-content .item-input input {
  color: #fff !important;
  margin-left: 10px;
}

.signup-content ::-webkit-input-placeholder {
  color: #fff !important;
}

.signup-content i {
  color: #eb7125;
  font-size: 25px;
}

.signup-content i.fa-lock {
  font-size: 32px !important;
}

.signup-content i.fa-user {
  font-size: 30px !important;
}

.signup-content .item-media {
  width: 25px;
  padding-left: 8px;
}

.signup-btn {
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  background: #eb7125;
  border-color: #eb7125 !important;
  border-radius: 25px !important;
  color: #fff !important;
}

.signup-btn.active-state {
  background-color: #b95f26 !important;
}

.signup-footer {
  color: #fff;
  text-align: center;
  margin-top: auto;
  margin-bottom: 7px;
}

.signup-footer a {
  color: #eb7125 !important;
  font-weight: bold;
}
