.searchbar-songbook .searchbar-disable-button{
  color: #eb7125 !important;
}

#songbook-list {
  margin-right: 17px;
  margin-bottom: 0;
}

#songbook-list .list-group-title{
  font-weight: bold;
  color: #3c3c3c;
}

.songbook-indexlist li {
  margin-top: 5px;
  color: #8e8e93;
}

.songbook-indexlist .list-index-label {
  background: #eb7125 !important;
}

.song-content .block-title{
  font-size: 27px;
  color: #eb7125;
  white-space: initial;
  line-height: initial;
}

.song-content .block .auth-mel{
  margin-bottom: 0;
}

.song-content .block {
  margin-bottom: 16px;
  margin-top: 0;
}

.song-content .block p{
  font-size: 16px;
  margin-top: 0;
}

.song-content .block span{
  color: #eb7125;
}

.song-content .song-text {
  background-color: #fff;
}

.song-content .song-text p:last-child{
  margin-bottom: 0;
}

.song-content .song-text .block-inner{
  padding: 15px 0;
}

.songbook-content .list ul::before, .songbook-content .list ul:after{
  display: none;
}

.songbook-content .preloader, .song-content .preloader {
  margin-left: calc(50% - 20px);
  margin-top: calc(50% - 20px);
  height: 40px;
  width: 40px;
}

.songbook-content .searchbar-not-found {
  font-size: 16px;
}
